* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    display: block;
    margin: 9px auto;
    width: 90%;
    padding: 6px;
}

input[type="submit"] {
    width: 25%;
}

form {
    background: #2c3e50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db91, #2c3e50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 50%;
    border-radius: 10px;
}

.form-c {
    width: 100%;
    background: #2980b9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: auto;
    padding: 30px;
    height: 665px;
    display: flex;
    align-items: center;
    justify-content: center;
}